.header_parent {
  // width: 100%;
  padding: 0px 20px;
  // margin: 0px 10px;
  // background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.247);

    .left {
      .logo1 {
        display: none;
      }
      .logo2 {
        display: block;
      }
    }

    .right {
      .hamburger {
        span {
          &:nth-child(1) {
            background-color: black;
          }
          &:nth-child(3) {
            background-color: black;
          }
        }
      }
    }
  }

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo1 {
      height: 70%;
    }
    .logo2 {
      height: 70%;
      display: none;
    }
    // background-color: red;
  }
  .right {
    width: 50%;
    height: 100%;
    // background-color: yellow;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;

    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      position: relative;
      overflow: hidden;
      transition: var(--trans);

      span {
        width: 60px;
        height: 5px;
        background-color: var(--white);
        border-radius: 25px;
      }

      .middle_line {
        position: absolute;
        right: -100%;
        transition: var(--trans);
        background-color: var(--accent2);
      }

      &:hover {
        gap: 15px;

        .middle_line {
          right: 0;
        }
      }
    }
  }
}

.nav_option {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  right: -100%;

  background-color: var(--accent);
  z-index: 999;
  transition: clip-path 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    right 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  clip-path: ellipse(50% 100% at right);

  &.active {
    right: 0;
    // width: 200%;
    clip-path: ellipse(85% 100% at 50% 50%); /* Expands to show the menu */
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .left_nav_section {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px 20px;
      gap: 20px;

      .list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: calc(var(--unit) * 2);
        flex-direction: column;

        .sections {
          width: auto;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(var(--unit) * 2);

          .link {
            font-size: 100px;
            font-family: "Luckiest Guy", serif;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            position: relative;
            overflow: hidden;
            line-height: 100%;
            transition: var(--trans);

            &.active {
              color: var(--white);
            }

            &:hover {
              color: var(--white);

              + .desc {
                line-height: 100%;
              }
            }
          }

          .desc {
            max-width: 20ch;
            color: var(--white);
            font-size: calc(var(--unit) * 1.5);
            line-height: 0px;
            overflow: hidden;
            transition: var(--trans);
          }
        }
      }

      .contat_icons {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--unit);
        padding: 20px 0px;
        flex-wrap: wrap;

        .mail {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              font-size: 25px;
              color: var(--accent2);
            }
          }

          p {
            color: var(--white);
          }
        }
      }

      .left_head_btn {
        display: none;
      }
    }

    .right_nav_section {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 10px;
      position: relative;
      overflow: hidden;

      .top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--unit);
        height: 20%;
        width: 100%;

        .hamburger {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: var(--trans);

          svg {
            font-size: 80px;
            color: var(--white);
          }

          &:hover {
            transform: scale(1.2) rotate(10deg);
          }
        }
      }

      .social_links {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 50px;
        flex-direction: column;
        position: relative;
        // display: inline-block;
        transition: transform 0.2s ease;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;

          border-radius: 50%;
          position: relative; /* Essential for GSAP positioning */
          will-change: transform; /* Improves animation performance */
          svg {
            font-size: 35px;

            color: var(--white);
          }

          &:hover {
            background-color: var(--accent2);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .nav_option {
    .overlay {
      .left_nav_section {
        width: auto;
      }

      .right_nav_section {
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .nav_option {
    .overlay {
      .left_nav_section {
        .list {
          .sections {
            gap: 10px;
            .link {
              font-size: 50px;
              padding: 0px 10px;
            }
          }
        }
      }

      .right_nav_section {
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .nav_option {
    .overlay {
      padding: 10px;
      .left_nav_section {
        .list {
          .sections {
            .desc {
              font-size: calc(var(--unit));
            }
          }
        }
      }

      .right_nav_section {
      }
    }
  }
}

@media only screen and (max-width: 790px) {
  .nav_option {
    .overlay {
      .left_nav_section {
        .left_head_btn {
          display: flex;
        }
      }
      .right_nav_section {
        .top {
          .header_btn {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .nav_option {
    width: 100%;
    // height: auto;

    .overlay {
      width: 100%;
      position: relative;
      .left_nav_section {
        width: 100%;
        .list {
          gap: calc(var(--unit));
          .sections {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
          }
        }
      }
      .right_nav_section {
        height: auto;
        position: absolute;
        right: 2%;
        top: 2%;
        .social_links {
          // display: none;
        }
      }
    }
  }


  .header_parent {

    .left{
      img{
        height: 60% !important;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .nav_option {
    width: 100%;
    .overlay {
      .left_nav_section {
        width: 100%;

        .contat_icons {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
