.client_pagetop {
  width: 100%;
  height: 300px;
  background-color: white;
  border-bottom: 1px solid var(--light-grey);
  margin-top: 80px;

  .clinet_pt_cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    h1 {
      font-size: 50px;
      text-align: center;

      span {
        color: var(--accent);
      }
    }

    p {
      max-width: 90ch;
      text-align: center;
      font-size: 16px;
    }
  }
}

.clients_list {
  padding: 40px 0px;

  .client_list_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--unit);

    .top_bar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      flex-wrap: wrap;

      .tab {
        padding: 4px 8px;
        border: 1px solid var(--light-grey);
        color: var(--accent);
        font-size: 18px;
        cursor: pointer;

        &.active {
          background-color: var(--accent);
          color: var(--white);
          border: 1px solid transparent;
        }
      }
    }

    .cleints_section {
      width: 100%;

      .websites {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: calc(var(--unit) + 5px);

        .web {
          width: 300px;
          aspect-ratio: 9/16;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          border: 1px solid var(--light-grey);

          .content {
            width: 100%;
            height: auto;
            padding: 4px 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--unit) / 2);
            background-color: var(--white);
          }

          img {
            width: 100%;
            height: 100%;
            border-bottom: 1px solid var(--light-grey);
            // object-fit: cover;
          }
        }
      }

      .social_media{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--unit);

        .sm{
          width: 300px;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border: 1px solid var(--light-grey);
          gap: var(--unit);

          .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--unit) / 2);
            box-shadow: var(--shadow);
            padding: 8px ;
          }


        .image{
          width: 100%;
          height: auto;
          padding: 8px;

            img{
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
        }
      }

      .web_apps{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--unit);

        .wa{
          width: 300px;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: var(--unit);
          border: 1px solid var(--light-grey);

          .image{
            width: 100%;
            height: auto;
            padding: 8px;
            
            img{
              width: 100%;
              object-fit: contain;
            }
          }

          .content{
            width: 100%;
            padding: 8px 0px;
            background-color: var(--white);
            text-align: center;
            box-shadow: var(--shadow);
          }
        }
      }
    }
  }
}


@media only screen and (max-width:700px){
  .client_pagetop{
    .clinet_pt_cont{
      h1{
        font-size: 30px;
      }
    }
  }
}


@media only screen and (max-width:400px){
 .client_pagetop{
    .clinet_pt_cont{
      h1{
        font-size: 25px;
      }
    }
  }
}