.why_choose_parent {
  width: 100%;
  height: auto;
  background-image: url("../../assets/pattern.jpg");
  padding: 80px 0px;

  .why_choose_cont {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: auto;
    gap: calc(var(--unit) * 2);
    position: relative;

    .left {
      width: 50%;
      height: auto;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--unit);

      h2 {
        font-size: calc(var(--unit) * 2.5);
        line-height: 110%;
        font-family: "Bebas Neue", serif;
        letter-spacing: 2px;
      }

      h4 {
        font-size: calc(var(--unit));
        color: var(--accent);
      }

      p {
        font-size: 16px;
      }
    }

    .right {
      width: 50%;
      height: auto;
      position: relative;

      .image {
        width: 100%;
        aspect-ratio: 0.95;
        background-color: red;
        background-image: url("../../assets/why_choose.webp");
      }

      .tag {
        width: 200px;
        aspect-ratio: 1;
        // background-color: yellow;
        position: absolute;
        top: -17%;
        left: -17%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
          font-size: calc(var(--unit) * 4);
          color: var(--accent2);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .p {
          width: 100%;
          height: 100%;
          //   background-color: red;
          transform: rotate(0deg);

          animation: rotatetext 15s linear infinite;

          span {
            font-size: calc(var(--unit) * 2) !important;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            // top: 50%;
            // transform: translateY(-50%);
            font-size: 1.5em !important;
            transform-origin: 0 100px;
          }

          @keyframes rotatetext {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    .why_choose_content {
      position: absolute;
      left: 0;
      bottom: 20%;
      width: auto;
      height: auto;
      background-color: white;
      border: 10px solid black;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--unit);
      flex-wrap: wrap;

      .card {
        width: 280px;
        height: 100px;
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .left{
          width: 30%;
          aspect-ratio: 1;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--accent2);

          img{
            // width: 70%;
            height: 100%;
          }
        }

        p{
          max-width: 20ch;
          font-size: calc(var(--unit));
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .why_choose_parent {
    .why_choose_cont {
      .why_choose_content {
        bottom: 0 !important;
      }
    }
  }
}

// @media only screen and (max-width: 950px) {
//   .why_choose_parent {
//     .why_choose_cont {
//       .why_choose_content {
//         bottom: 0 !important;
//       }
//     }
//   }
// }

@media only screen and (max-width: 1000px) {
  .why_choose_parent {
    .why_choose_cont {
      flex-direction: column;
      align-items: center;
      .right {
        width: 70%;
      }

      .left {
        width: 100%;
      }

      .why_choose_content {
        position: static;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .why_choose_parent {
    .why_choose_cont {
      flex-direction: column;
      align-items: center;
      .right {
        width: 100%;
      }

      .left {
        width: 100%;
      }

      .why_choose_content {
        position: static;
        width: 100%;
        height: auto !important;
        flex-wrap: wrap;
      }
    }
  }
}
