.container {
  display: flex;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background: url("../../assets/patterm.png");
    z-index: 0;
    opacity: 0.05;
  }
}

.left-section {
  position: sticky;
  top: 0;
  width: 50%; /* Adjust width as needed */
  height: 100vh;
  padding: 20px 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--unit);
  overflow: hidden;
  // margin:0px auto;

  .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 80px;

    h2 {
      line-height: 100%;
      font-family: "Luckiest Guy", serif;
      letter-spacing: 5px;

      &:nth-child(2) {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: var(--accent);
        color: transparent;
      }
    }
  }

  p {
    width: 100%;
    // text-align: center;
    font-size: 16px;
    max-width: 80ch;
  }
}

.right-section {
  width: 50%; /* Adjust width as needed */
  padding: 20px;

  .content {
    margin-bottom: 10px;
    position: relative;
    // background-color: red;
    width: 100%;
    // height: 100%;
    aspect-ratio: 1;

    .content_section {
      width: 100%;
      height: 100%;
      // background-color: yellow;
      position: relative;

      h1 {
        font-size: 900px;
        position: absolute;
        top: 50%;
        color: var(--accent2);
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }

      .data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--unit);
        cursor: pointer;
        width: 100%;

        img {
          width: 50%;
          transition: var(--trans);
        }

        h3 {
          font-size: calc(var(--unit) * 3);
          line-height: 100%;
          color: var(--accent);
          font-family: "Bebas Neue", serif;
          letter-spacing: 5px;
          font-weight: 600;

          span {
            // color:  rgb(255, 217, 0);
            color: black;
            font-family: "Bebas Neue", serif;
          }
        }

        .para {
          line-height: 100%;
          overflow: hidden;
          // display: none;
          transition: var(--trans);
          text-align: center;
          font-size: 16px;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    .left-section {
      padding: 20px 40px;
    }

    .right-section {
      .content {
        .content_section {
          h1 {
            font-size: 500px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .left-section {
      .heading {
        font-size: 60px;
      }
    }

    .right-section {
      .content {
        .content_section {
          h1 {
            font-size: 480px;
          }
          .data {
            h3 {
              font-size: calc(var(--unit) * 2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column !important;

    .left-section {
      width: 100%;
      position: static !important;
      height: auto !important;
    }

    .right-section {
      width: 100%;

      .content {
        width: 100%;

        .content_section {
          width: 100%;

          h1 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    // width: var(--max-width);
    // margin: auto;
    flex-direction: column !important;

    .right-section {
      .content {
        aspect-ratio: 0.8;
        .content_section {
          h1 {
            font-size: 300px;
          }

          .data {
            h3 {
              text-align: center;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .container {
    .left-section {
      width: 100%;
      padding: 50px 40px;

      .heading {
        width: 100%;
        font-size: 40px;
      }
    }

    .right-section {
      .content {
        .content_section {
          .data {
            img {
              width: 60%;
            }
          }
        }
      }
    }
  }
}
