.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  
    width: 100%;
    height: 100dvh;
    background-color: #000000;
    position: relative;
    z-index: 2; /* Ensure the grid is on top */
  
    .grid-box {
        border: 1px solid rgba(255, 255, 255, 0.13);
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--trans);
        transition: background-color 0.3s ease, font-weight 0.3s ease;
  
      &:hover {
        background-color: #00a6e7;
        font-weight: bold;
      }
  
      &.active {
        background-color: #00a6e7;
        font-weight: bold;
      }
    }

    .grid-box.neighbor {
      background-color: #00a6e73a; /* Faded effect for neighbors */
    }
  
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: var(--white);
      //    line-height: 50%;
      width: 50%;
      text-align: center;
      height: 550px;
      place-content: center;
  
      gap: 10px;
  
      .first_text {
        gap: 160px;
      }
  
      h2 {
        width: 100%;
        line-height: inherit;
        font-size: 85px;
        font-family: "Luckiest Guy", serif;
        word-spacing: 10px;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
  
        .img {
          height: 150px;
          position: absolute;
          top: 10%;
          left: 41%;
          box-sizing: border-box;
  
          img {
            height: 100%;
            width: 100%;
            animation: bouncing 5s linear infinite;
            display: block;
            width: 100%;
            // height: auto;
            transform-origin: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
  
            @keyframes bouncing {
              0% {
                transform: translateY(0);
              }
              50% {
                transform: translateY(-10%);
              }
              100% {
                transform: translateY(0);
              }
            }
          }
        }
  
        .stroke {
          -webkit-text-stroke-width: 0.5px;
          -webkit-text-stroke-color: rgb(255, 217, 0);
          color: transparent;
        }
      }
  
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 10%,
        rgba(148, 187, 233, 0) 90%
      );
    }
  
    .face_icon {
      position: absolute;
      top: 10%;
      left: 20%;
      z-index: 2;
      width: 150px;
      aspect-ratio: 1;
      animation: rotateIcon 8s linear infinite;
  
      @keyframes rotateIcon {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(25deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
  
      img {
        width: 100%;
      }
    }
  
    .inst_icon {
      position: absolute;
      top: 40%;
      right: 15%;
      z-index: 2;
      width: 150px;
      aspect-ratio: 1;
      animation: rotateIcon 8s linear infinite;
  
      img {
        width: 100%;
      }
    }
  }
  